
#textFromMessage{
    text-align: center !important;
}

h3 {
    color: white !important;
    font-weight: bolder;
}

.bg-gradient-danger {
    color:white;
}

td {
    cursor: pointer;
}


.bg-gradient-danger:hover {
    color:white;
    background: linear-gradient(87deg, #c03756 0, #c36c3a 100%) !important;
    cursor: pointer;
}
.bg-gradient-success {
        color:white;

    background: linear-gradient(87deg, rgb(149, 206, 176) 0, rgb(142, 206, 194) 100%) !important;
}
.bg-gradient-success:hover {
        color:white;
    background: linear-gradient(87deg, rgb(129, 184, 155) 0, rgb(123, 183, 171) 100%) !important;
}