@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body{
    /*background-color: #fff !important;*/
    background-image: url("https://uploads-ssl.webflow.com/5a9e6c4…/5aa052b…_Pattern-min.png");
    font-weight: bolder;
    font-family: 'Open Sans', monospace !important;
    /*color: rgba(232, 230, 227, 0.87) !important;*/

}

.gradient-light-blue:after {
    background: rgba(28, 206, 234, 0.82) linear-gradient(-45deg, rgba(147, 26, 222, 0.83) 0%, rgba(28, 206, 234, 0.82) 100%);
}

.dot-class {
    background-image: url("https://uploads-ssl.webflow.com/5a9e6c4…/5aa052b…_Pattern-min.png") !important;
}

.navbar-brand {
    font-weight: bolder;
    font-family: 'Open Sans', monospace !important;
    text-transform: uppercase;
    font-size: 1.875rem !important;
    letter-spacing: .05px;
}
.navbar-nav .nav-link {
    font-weight: bolder;
    font-size: 1rem !important;
    font-family: 'Open Sans', monospace !important;
    transition: all 0.15s linear;
    cursor: pointer;
}
.display-1{
    font-weight: bolder;
    font-family: 'Open Sans', monospace !important;
}
.navbar-brand img {
    height: 58px !important;
}