body, .section, div > .section.container {
    background-color: #f8fafd;
}

.ivan {
    background-color: #f8fafd;
}

.navbar-brand img {
    height: 66px !important;
}

#textFromMessage {
    text-align: center !important;
}

h3 {
    color: white !important;
    font-weight: bolder;
}

.card {
    background-color: #ffffff !important;
    color: #002c3e;
}

.bg-gradient-danger {
    color: white;
}

td {
    cursor: pointer;
}

.bg-gradient-danger:hover {
    color: white;
    /*background: linear-gradient(to right, #ff416c, #ff4b2b);*/
    background: linear-gradient(to right, #ff416c, #ff4b2b) !important;
    cursor: pointer;
}

.bg-gradient-success {
    color: white;

    background: linear-gradient(87deg, rgb(149, 206, 176) 0, rgb(142, 206, 194) 100%) !important;
}

.bg-gradient-success:hover {
    color: white;
    background: linear-gradient(87deg, rgb(129, 184, 155) 0, rgb(123, 183, 171) 100%) !important;
}

.close > span:not(.sr-only) {
    color: white !important;
}
